@font-face{
font-family:"mix";
src:url('Fonts/hill.ttf');
}
@font-face{
font-family:"py";
src:url('Fonts/py.ttf');
}
body{
margin:0;
padding:0;
border:0;
overflow:hidden;
/*cursor:url(../Images/penc.png),auto;*/
}
/*a{
cursor:url(../Images/pointing.png),pointer;
}
a:visited{
cursor:url(../Images/tap.png),pointer;
}*/
ul{
list-style-type:none;
margin-top:22px;
}
li{
display:inline;
margin-left:30px;
}
li a{
color:#ffffff;
text-decoration:none;
font-family:"py";
font-size:27px;
font-weight:bold;
}
#header{
position:fixed;
top:0px;
left:0px;
width:1366px;
background-color:#FF7069;
height:90px;
z-index:1;
}
#heading{
font-family:"mix";
font-weight:normal;
font-size:52px;
margin-top:17px;
margin-left:50px;
color:#ffffff;
}
#op{
position:absolute;
top:0;
left:800px;
}
#button1,#button2,#button3{
color:#FFFFFF;
font-size:30px;
padding:10px;
transition:all 2s ease;
}
#booklogo{
color:#FFFFFF;
font-size:50px;
padding:20px;
margin-top:-12px;
margin-left:32px;
}
#main{
z-index:0;
}
#li1:hover > #button1{ 
animation:sidebyside 1s;
}
@keyframes sidebyside{
0%{
transform:rotate(0deg);
}
20%{
transform:rotate(40deg);
}
40%{
transform:rotate(-40deg);
}
60%{
transform:rotate(20deg);
}
80%{
transform:rotate(-20deg);
}
100%{
transform:rotate(0deg);
}
}
#li2:hover > #button2{ 
animation:bigsmall 1s;
}
@keyframes bigsmall{
0%{
transform:scale(1);
}
20%{
transform:scale(1.4);
}
40%{
transform:scale(0.6);
}
60%{
transform:scale(1.2);
}
80%{
transform:scale(0.8);
}
100%{
transform:scale(1);
}
}
#li3:hover > #button3{ 
animation:tofro 1s;
}
@keyframes tofro{
0%{
-webkit-transform:rotateY(0deg);
transform:rotateY(0deg);
}
20%{
-webkit-transform:rotateY(70deg);
transform:rotateY(70deg);
}
40%{
-webkit-transform:rotateY(-70deg);
transform:rotateY(-70deg);
}
60%{
-webkit-transform:rotateY(35deg);
transform:rotateY(35deg);
}
80%{
-webkit-transform:rotateY(-35deg);
transform:rotateY(-35deg);
}
100%{
-webkit-transform:rotateY(0deg);
transform:rotateY(0deg);
}
}
#heading:hover > #booklogo{
animation:updown 1s;
}
@keyframes updown{
0%{
transform:translateY(0px);
}
20%{
transform:translateY(10px);
}
40%{
transform:translateY(-10px);
}
60%{
transform:translateY(5px);
}
80%{
transform:translateY(-5px);
}
0%{
transform:translateY(0px);
}
}
#prof{
position:fixed;
left:0px;
background-color:#DCBDA0;
font-family:"py";
color:#FFFFFF;
width:350px;
top:90px;
height:533px;
font-weight:bold;
font-size:22px;
padding:10px;
}
#profilepic{
margin-top:40px;
margin-left:auto;
margin-right:auto;
margin-bottom:35px;
width:220px;
height:220px;
background-color:#DCBDA0;
border-radius:10px;
}
#see{
background-color:#FFFFFF;
position:relative;
left:275px;
top:-20px;
width:42px;
height:42px;
border-radius:5px;
}
#chh{
background-color:#FFFFFF;
position:relative;
left:215px;
top:-62px;
width:42px;
height:42px;
border-radius:5px;
}
#eye{
color:#FF5047;
position:relative;
top:9px;
left:10px;
}
#pencils{
color:#FF5047;
position:relative;
top:7px;
left:10px;
font-size:27px;
}
.tooltip{
position:absolute;
top:-45px;
left:-40px;
visibility:hidden;
width:120px;
background-color:#000000;
color:#FFFFFF;
text-align:center;
padding:5px;
border-radius:5px;
z-index:2;
opacity:0;
transition:opacity 1s;
}
#lookat:hover > .tooltip{
visibility:visible;
opacity:1;
}
#e1:hover > .tooltip{
visibility:visible;
opacity:1;
}
#addnewnum:hover > .tooltip{
font-family:"py";
font-size:22px;
font-weight:bold;
visibility:visible;
opacity:1;
}
.tooltip::after {
content:" ";
position:absolute;
top:100%; 
left:50%;
margin-left:-5px;
border-width:5px;
border-style:solid;
border-color:black transparent transparent transparent;
}
#outer,#icover,#i1cover,#i2cover{
position:fixed;
top:0;
left:0;
background-color:rgba(153,153,153,0.5);
z-index:5;
width:100%;
height:100%;
display:none;
}
#viewprofile{
height:400px;
width:700px;
margin-top:120px;
margin-left:auto;
margin-right:auto;
z-index:10;
display:none;
background-color:#FFFFFF;
border:5px solid #B3B3B3;
border-radius:10px;
color:#000000;
font-family:"py";
}
#editprofile,#newcontact,#editcontactinfo{
font-family:"py";
width:310px;
border:3px solid #999999;
border-radius:10px;
z-index:10;
display:none;
margin-right:auto;
margin-left:auto;
margin-top:120px;
background-color:#FFFFFF;
padding:60px 50px 50px;
}
#us,#us1,#us2,#us3{
font-size:22px;
margin-left:35px;
}
#us{
margin-right:12px;
}
#us1{
margin-right:11px;
}
#us2{
font-size:20px;
margin-right:10px;
}
#us3{
font-size:23px;
margin-right:16px;
}
.d{
font-size:24px;
}
#pop1{
width:250px;
height:250px;
position:relative;
top:67px;
left:45px;
border-radius:10px;
border:3px solid #999999;
}
.dp1{
position:relative;
top:-180px;
left:335px;
font-size:29px;
font-weight:600;
color:#666666;
}
.dp2{
position:relative;
top:-190px;
left:335px;
font-size:29px;
font-weight:600;
color:#666666;
}
.dp3{
position:relative;
top:-200px;
left:335px;
font-size:29px;
font-weight:600;
color:#666666;
}
.dp4{
position:relative;
top:-210px;
left:335px;
font-size:29px;
font-weight:600;
color:#666666;
}
#x1{
margin-right:20px;
color:#666666;
}
#x2{
margin-right:18px;
color:#666666;
}
#x3{
margin-right:16px;
font-size:25px;
color:#666666;
}
#x4{
margin-right:20px;
margin-left:5px;
color:#666666;
}
#changeprofilepicture{
height:35px;
font-size:22px;
font-weight:bold;
width:250px;
background-color:#999999;
color:#000000;
text-align:center;
padding-top:8px;
border-bottom-left-radius:10px;
border-bottom-right-radius:10px;
display:none;
}
#cc{
position:absolute;
top:209px;
left:0;
opacity:0.7;
}
#removephoto{
display:none;
height:27px;
font-size:22px;
font-weight:bold;
width:250px;
background-color:#999999;
color:#000000;
text-align:center;
padding-bottom:7px;
border-top-left-radius:10px;
border-top-right-radius:10px;
position:absolute;
top:-2px;
opacity:0.7;
padding-top:10px;
}
#pop1 > #file-input{
display:none;
}
.group{ 
position:relative; 
margin-bottom:45px; 
}
#in1,#in2,#in4,#inp1,#inp2,#inp4{
font-size:22px;
padding:10px 10px 10px 5px;
display:block;
width:285px;
border:none;
border-bottom:1px solid #757575;
}
#in1:focus,#in2:focus,#in4:focus,#inp1:focus,#inp2:focus,#inp4:focus{
outline:none;
}
#lb1,#lb2,#lb4{
color:#999999; 
font-size:22px;
font-weight:bold;
position:absolute;
pointer-events:none;
left:5px;
top:10px;
transition:0.2s ease all; 
}
#in1:focus ~ #lb1,#in1:valid ~ #lb1,#in2:focus ~ #lb2, #in2:valid ~ #lb2,#in4:focus ~ #lb4, #in4:valid ~ #lb4,#inp1:focus ~ #lb1,#inp1:valid ~ #lb1,#inp2:focus ~ #lb2, #inp2:valid ~ #lb2, #inp4:focus ~ #lb4, #inp4:valid ~ #lb4{
top:-20px;
font-size:18px;
color:#FF7069;
font-family:"py";
}
.bar{
position:relative; 
display:block; 
width:285px; 
}
.bar:before,.bar:after{
content:'';
height:2px; 
width:0;
bottom:1px; 
position:absolute;
background:#FF7069; 
transition:0.2s ease all; 
}
.bar:before{
left:50%;
}
.bar:after{
right:50%; 
}
#in1:focus ~ .bar:before,#in1:focus ~ .bar:after,#in2:focus ~ .bar:before,#in2:focus ~ .bar:after,#in4:focus ~ .bar:before,#in4:focus ~ .bar:after,#inp1:focus ~ .bar:before,#inp1:focus ~ .bar:after,#inp2:focus ~ .bar:before,#inp2:focus ~ .bar:after,#inp4:focus ~ .bar:before,#inp4:focus ~ .bar:after{
width:50%;
}
.highlight{
position:absolute;
height:60%; 
width:100px; 
top:25%; 
left:0;
pointer-events:none;
opacity:0.5;
}
#in1:focus ~ .highlight,#in2:focus ~ .highlight,#in4:focus ~ .highlight,#inp1:focus ~ .highlight,#inp2:focus ~ .highlight,#inp4:focus ~ .highlight{
animation:inputHighlighter 0.3s ease;
}
@keyframes inputHighlighter{
from{background:#FF7069;}
to{width:0;background:transparent;}
}
form,input{
opacity:1;
font-family:"py";
font-weight:bold;
}
#okay,#okay1,#okay2{
position:relative;
background-color:#FF7069;
border:none;
left:x;
width:155px;
height:30px;
font-size:22px;
color:#FFFFFF;
border-top-left-radius:5px;
border-bottom-left-radius:5px;
}
#okay:focus,#okay1:focus,#okay2:focus{
outline:none;
}
#closeme,#closeme1,#closeme2{
position:relative;
background-color:#FF7069;
border:none;
left:-3px;
width:150px;
height:30px;
font-size:22px;
color:#FFFFFF;
border-top-right-radius:5px;
border-bottom-right-radius:5px;
}
#closeme:focus,#closeme1:focus,#closeme2:focus{
outline:none;
}
#workbox{
position:fixed;
top:90px;
left:371px;
z-index:2;
width:995px;
height:120px;
background-color:#FFFFFF;
}
#search{
position:fixed;
width:680px;
left:530px;
top:135px;
height:35px;
padding:20px;
font-size:20px;
border-radius:10px;
border:2px solid #DCBDA0;
bottom:40px;
z-index:2;
}
#categories{
font-family:"py";    
}
.gh{
position:fixed;
width:120px;
height:44px;
top:135px;
left:400px;
font-size:20px;
font-weight:bold;
font-family:"py";
color:#FF7069;
border-radius:10px;
border:2px solid #DCBDA0;
z-index:2;   
background-color:#FFFFFF; 
}
.gh:focus{
outline:none;    
}
#chcategory{
position:fixed;
top:178px;
left:400px;
width:116px;
text-align:center;
font-size:20px;
border-radius:10px;
border:2px solid #DCBDA0;
z-index:2;   
line-height:27px;
background-color:#FFFFFF;
opacity:1;
display:none;
}
#chop1,#chop2,#chop3{
text-decoration:none;     
color:#666666;
font-weight:bold;
display:block;
transition:all 0.2s;
}
#chop1:hover,#chop2:hover,#chop3:hover{
color:#FF7069;
text-decoration:underline;    
}
#search1{
position:fixed;
width:680px;
left:150px;
top:145px;
height:35px;
padding:20px;
font-size:20px;
border-radius:10px;
border:2px solid #DCBDA0;
bottom:80px;
z-index:2;
}
#search:focus,#search1:focus{
outline:none;
box-shadow:0 0 7px #DCBDA0;
}
#addnewnum{
position:fixed;
top:135px;
left:1240px;
height:42px;
width:42px;
border-radius:10px;
border:2px solid #DCBDA0;
}
#pluss{
position:relative;
color:#FF7069;
font-size:24px;
top:10px;
left:12px;
}
#tab1{
border-collapse:collapse;
font-family:"py";
font-size:24px;
width:900px;
}
#tab2{
border-collapse:collapse;
font-family:"py";
font-size:24px;
width:1200px;
}
tr{
border-bottom:2px solid #DCBDA0;
transition:background-color 0.2s ease;
}
tr:hover{
background-color:rgba(153,153,153,0.5);
}
td{
text-align:left;
font-weight:bold;
}
#who{
width:30%;
}
#mobnum{
width:16%;
}
#mailto{
width:40.5%;
}
#whon{
width:27%;
}
#mobnumn{
width:12%;
}
#emailn{
width:40%;
}
#cityn{
width:17%;
}
#imgn{
width:4%;
}
#resi{
width:50px;
height:50px;
border-radius:3px;
}
#chkar1{
width:4%;
}
#penc,#penc1{
color:#FF7069;
}
#penc{
position:relative;
top:12px;      
}
#catgy{
width:4.5%;    
}
#catg{
color:#FF7069;
font-size:20px;    
}
#nextlook{
z-index:0;
position:relative;
width:1260px;
height:395px;
top:220px;
margin-left:80px;
overflow:auto;
background-color:#FFFFFF;
}
:not(.default)::-webkit-search-cancel-button{   
-webkit-appearance:none ;     
}
::-webkit-search-cancel-button{
content:'';
display:block;
width:40px;
height:40px;
background-image:url(../Images/trsh.png);
background-repeat:no-repeat;
background-size:40px;
}
#innerdiv{
z-index:0;
position:relative;
top:220px;
margin-left:400px;
width:945px;
height:420px;
overflow:auto;
background-color:#FFFFFF;
}
#mCSB_1_scrollbar_vertical .mCSB_dragger{ 
height:100px;  
}
#mCSB_1_scrollbar_horizontal .mCSB_dragger{ 
width:100px; 
background-color:#00FF00; 
}
.no-js #loader{
display:none; 
}
.js #loader{
display:block; 
position:absolute;  
top:0; 
left:100px;
}
.loading-icon{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
z-index:9999;
background:url(../Images/infinity.gif) center no-repeat #FFFFFF;
}
